# --------------------
# Node / Next.js
# --------------------
# dependencies
/node_modules
/.pnp
.pnp.js

# next.js build output
/.next/
/out/
/build/

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
/coverage/

# local env files
*.local

# misc
.DS_Store
*.pem
*.log

# --------------------
# Python
# --------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel

# Virtual environments
venv/
env/
ENV/
.env/
.venv/
venv310/

# Python logs
*.log

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# --------------------
# IDEs / Editors
# --------------------
# VSCode
.vscode/
.history/

# PyCharm
.idea/

# Sublime
*.sublime-project
*.sublime-workspace

# --------------------
# OS generated
# --------------------
.DS_Store
Thumbs.db


license_dataset/
license_dataset.zip
detected_output.mp4
