fastapi
uvicorn[standard]
python-multipart
websockets

numpy==1.24.4
pandas

opencv-python-headless

torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121

paddlepaddle-gpu==2.6.2.post121

ultralytics==8.4.21

paddleocr==2.7.3


python-dotenv